*{
    font-family: 'Mali', cursive;
    font-weight: 400;
    font-style: italic;
}
body{
    background-color: #ffca60;
    font-family: 'Mali', cursive;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
    text-align: center;
    padding: 2em;
}
.imgbox{
    width: 100%;
    max-width: 80vh;
}
.form{
    background-color: white;
    padding: 1em;
}
.container img{
    max-width: 100%;
}
.container p{
    width: 100%;
    color: rgb(98, 96, 96);
}
.container a{
    text-decoration: none;
    color: black;
}
nav{    
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin: 2rem;
    position: relative;
    z-index: 2;
    color: rgba(61, 60, 60, 0.905);
}
nav a{
    text-decoration: none;
    color: rgb(75, 74, 74);
}
nav .active{
    color: black;
}
.Button {
    display: flex;
    justify-content: end;
}
h3{
    font-size: 1em;
}
#to{
    text-align: left;
    padding-left: 1em;
}
#from{
    text-align: right;
    padding-right: 1em;
    font-size: 1em;
}
#message{
    padding: 1em;
    width: 80%;
    border: 0px;
    text-align: center;
    align-self: center;
    height: 50vh;
    padding:50% 0;
    resize: none;
}
button{
    margin-top: 1.3em;
    width: 100%;
    height: 3.5em;
    background-color: #CABE50;
    border-radius: 3px;
    border: 0px;
    color:rgb(59, 59, 59);
}
input{
    border: 0px;
    margin-left: 0.5em;
    max-width: 6em;
    text-align: center;
    font-size: 0.9em;
    overflow: hidden;
}
.decoration img{
    float: left;
    position: absolute;
    left: -10%;
    top: 0px;
    z-index: 1;
    max-height: 12em;
    overflow: hidden;
    transform: rotate(180deg);
}
#img2{
    left: 15%;
    top: 70%;
    max-height: 9em;
    transform: rotate(90deg);
}
#img3{
    left: 65%;
    top: 15%;
    max-height: 5em;
    transform: rotate(290deg);
}
#img4{
    left: 60%;
    top: -10%;
    max-height: 10em;
    transform: rotate(90deg);
}
#img5{
    left: 55%;
    top: 57%;
    max-height: 8em;
    transform: rotate(270deg);
}
#img6{
    left: 10%;
    top: 40%;
    max-height: 5em;
    transform: rotate(0deg);
}

